{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {# URLを書いて質問へのリンクを作る #}
        {# URLをハードコードするのを辞める．'detail'はurls.pyで指定したnameにあたる． #}
        {# その後にURLパス上の変数を与える．この場合は質問のid． #}
        {# 例えばURLを'polls/<int:question_id>/'から'polls/hoge/<int:question_id>/'にしたくなっても #}
        {# urls.pyのみを変更すれば，自動的にこちらのURLも修正される． #}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    {# 質問が一つも登録されていなかった場合 #}
    <p>No polls are available.</p>
{% endif %}